{% extends "base.html" %}

{% block title %}Report Lost Item{% endblock %}

{% block content %}
<div class="container">
    <h1>Report Lost Item</h1>
    <form method="POST" action="{{ url_for('lost_items.report_lost_item_page') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.category.label(class="form-control-label") }}
            {{ form.category(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.brand.label(class="form-control-label") }}
            {{ form.brand(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.colour.label(class="form-control-label") }}
            {{ form.colour(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.additional_info.label(class="form-control-label") }}
            {{ form.additional_info(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.location_lost.label(class="form-control-label") }}
            {{ form.location_lost(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.date_lost.label(class="form-control-label") }}
            {{ form.date_lost(class="form-control", type="date", max=current_date) }}
        </div>
        <div class="form-group">
            {{ form.images.label(class="form-control-label") }}
            <div id="fileInputs">
                <input type="file" name="images" class="form-control-file mb-2">
            </div>
            <button type="button" class="btn btn-secondary" onclick="addFileInput()">Add Another Image</button>
        </div>
        <button type="submit" class="btn btn-primary">Report</button>
    </form>
</div>

<script>
function addFileInput() {
    var fileInputDiv = document.getElementById('fileInputs');
    var newFileInput = document.createElement('input');
    newFileInput.type = 'file';
    newFileInput.name = 'images';
    newFileInput.className = 'form-control-file mb-2';
    fileInputDiv.appendChild(newFileInput);
}
</script>
{% endblock %}